.col-centered{
    float: none;
    margin: 0 auto;
    top: 50%;
    left: 50%;

    position: absolute;
    margin-top: -225px;
    margin-left: -225px;
}
.error {
    color: #ff0000;
    font-style: italic;
}
body{
 url("resources/image/0.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
#liniya {
    width:110px;
    height:50px;
    background:#669900;
    float:left;
    margin-left:15px;
    text-align:center;
}


