.col-centered{
    float: none;
    margin: 0 auto;
    top: 50%; /* Отступ в процентах от верхнего края окна */
    left: 50%; /* Отступ в процентах от левого края окна */

    position: absolute; /* Абсолютное позиционирование блока */
    margin-top: -225px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
    margin-left: -225px;
}
.error {
    color: #ff0000;
    font-style: italic;
}
.fon{

background-color: #b0c4de;

}